<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler sideMenuTogler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuraciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper d-flex">
        <div class="sideMenu">
            <div class="sidebar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="" class="nav-link"><i class="material-icons icon">dashboard</i><span class="text">Dashboard</span></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="material-icons icon">person_outline</i><span class="text">Clientes</span></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="material-icons icon">add_shopping_cart</i><span class="text">Facturar</span></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="material-icons icon">person</i><span class="text">Administrar</span></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="material-icons icon">settings</i><span class="text">Configurar</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Customizer")
    @RenderSection("scripts", required: false)
</body>
</html>
