@model Sistema_Facturacion.Models.Categoria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.FirstOrDefault().RNC_Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clientes.First().RNC_Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.First().Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.First().Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.First().Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.First().Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.First().Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.First().Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Clientes.First().Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
