@model IEnumerable<Sistema_Facturacion.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes[0].RNC_Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes[0].Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes[0].Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes[0].CategoriaId);
        </th>
    </tr>

@foreach (var item in Model) {
    if (item.Clientes.Count!=0) {
        foreach (var cliente in item.Clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>cliente.RNC_Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cliente.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=cliente.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=cliente.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=cliente.Id })
                </td>
            </tr>
        }
    }
}

</table>
