@model List<Sistema_Facturacion.Models.VistaClientes>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>
<form action="../Clientes" method="post" onsubmit="guardardatos()">
    <label>Nombre</label>
    <input type="text" name="nombre" placeholder="Nombre cliente" id="nombre" class="form-control" />
    <label>Categoria</label>
    @Html.DropDownList("categoria", new SelectList(ViewBag.lista, "Id", "Descripcion"), "Seleccionar", new { id = "categoria", @class="form-control"})
    <input type="submit" value="BUSCAR" class="btn btn-primary" />
</form>
@using (Html.BeginForm("print", "Clientes", FormMethod.Post, new { onsubmit = "obtenerDatos()" }))
{

    <input type="hidden" name="nombre" id="nombrev" />
    <input type="hidden" name="categoria" id="categoriav" />
    <input type="submit" value="Generar reporte" class="btn btn-primary"/>
}

<script>
    function guardardatos() {
        var nombre = document.getElementById("nombre").value;
        var categoria = document.getElementById("categoria").value;
        localStorage.setItem("nombre", nombre);
        localStorage.setItem("categoria", categoria);
    }
    function obtenerDatos() {
        var nombre = localStorage.getItem("nombre");
        var categoria = localStorage.getItem("categoria");
        document.getElementById("nombrev").value = nombre;
        document.getElementById("categoriav").value = categoria;
        localStorage.clear();
    }
</script>
@if (ViewBag.Conteo!=null) { 
    <p>El conteo total es de @ViewBag.Conteo</p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].RNC_Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].categoria);
        </th>
    </tr>

    @foreach (var cliente in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cliente.RNC_Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cliente.categoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = cliente.id }) |
                @Html.ActionLink("Details", "Details", new { id = cliente.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = cliente.id })
            </td>
        </tr>
    }

</table>
