@model List<Sistema_Facturacion.Models.VistaProductos>
@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<form action="../Productoes" method="post">
    <input type="text" name="busqueda" placeholder="Nombre producto" />
    <input type="submit" value="BUSCAR" />
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th>
            @Html.DisplayName("Proveedor")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.producto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.proveedor)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
    }

</table>
