@model List<Sistema_Facturacion.Models.VistaProductos>
@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
@using (Html.BeginForm("Index", "Productoes", FormMethod.Post, new { onsubmit = "guardar()" })) { 
    <input type="text" name="nombre" placeholder="Nombre producto" id="nombre" class="form-control"/>
    <input type="submit" value="BUSCAR" class="btn btn-primary"/>
}

@using (Html.BeginForm("print", "Productoes", FormMethod.Post, new { onsubmit = "obtenerDatos()" }))
{

    <input type="hidden" name="nombre" id="nombrev" />
    <input type="submit" value="Generar reporte" class="btn btn-primary" />
}

<script>
    function guardar() {
        var nombre = document.getElementById("nombre").value;
        alert(nombre)
        console.log(nombre);
        localStorage.setItem("nombre", nombre);
    }
    function obtenerDatos() {
        var nombre = localStorage.getItem("nombre");
        alert(nombre);
        document.getElementById("nombrev").value = nombre;
        localStorage.clear();
    }
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th>
            @Html.DisplayName("Proveedor")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
