@model Sistema_Facturacion.Models.VistaFactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPagado)
        </dd>

    </dl>
    <table>
        <thead>
            <tr>
                <td>Producto</td>
                <td>Cantidad</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.DetalleFactura)
            {
            <tr>
                <td>@item.Producto</td>
                <td>@item.CantidadProducto</td>
                <td>@item.Precio</td>
                <td>@item.Total</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "HistorialFacturas")
</p>
