@model Sistema_Facturacion.Models.Entradas
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Agregar", "Procesos"))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(s => s.ProveedorId, new SelectList(ViewBag.ListaProveedores, "Id", "Nombre"),new {id="proveedores" })
                @Html.ValidationMessageFor(model => model.Proveedor.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(s => s.ProductoId, new SelectList(ViewBag.ListaProductos, "Id", "Nombre"),new {id="productos" })
                @Html.ValidationMessageFor(model => model.Producto.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-10">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <P>@DateTime.Now.ToString()</P>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!--JQUERRY-->
<script>
    $(document).ready(function () {
        //Carga dinamicamente los elementos dentro del dropdown list dependiendo del seleccionado
        $("#proveedores").change(function () {
            //Obtenemos el valor seleccionado en el drodownlist
            let value = $(this).val().toString();
                $.ajax({
                    //Metodo de peticion
                    type: 'POST',
                    //Se especifica el action y el controlador
                    url: "@Url.Action("cargarProductos", "Procesos")",
                    data: {proveedorid: value },
                    //En caso de que todo salga bien ejecuta esto y recibe como parametro el resultado que se envia desde el action
                    success: function (response) {
                        $("#productos").empty()
                        for (var item of response) {
                            let $option = $('<option />', {
                                text: item.Nombre,
                                value: item.Id,
                            });
                            
                            $("#productos").append($option);
                          
                        }
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
        });
    });
</script>
