@model List<Sistema_Facturacion.Models.VistaFactura>
@{
    ViewBag.Title = "HistorialFacturas";
}

<h2>Historial Facturas</h2>

<form action="../Procesos/HistorialFacturas" method="post">
    @Html.DropDownList("clienteId", new SelectList(ViewBag.Listacliente, "Id", "Nombre"), "Seleccionar")
    <input type="date" name="fecha" />
    <p>Que deseas ver?</p>
    <label><input type="checkbox" id="suma" name="suma" value="si"> Promedio</label><br>
    <label><input type="checkbox" id="promedio" name="promedio" value="si"> Suma</label><br>
    <label><input type="checkbox" id="conteo" name="conteo" value="si"> Conteo</label><br>
    @ViewBag.promedio
    @ViewBag.sumatoria
    @ViewBag.Conteo
    <input type="submit" value="BUSCAR" />
</form>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Fecha</td>
            <td>@item.Cliente</td>
            <td>@item.TotalPagado</td>
            <td>@Html.ActionLink("Detalle","detalleFactura",new {id=item.Id })</td>
        </tr>
        }
    </tbody>
</table>
