@model List<Sistema_Facturacion.Models.VistaEntrada>
@{
    ViewBag.Title = "HistorialEntradas";
}

<h2>Historial Entradas</h2>
<form action="../Procesos/HistorialEntradas" method="post" onsubmit="guardar">
    @Html.DropDownList("proveedorId", new SelectList(ViewBag.ListaProveedores, "Id", "Nombre"), "Seleccionar", new { id = "proveedor" })
    @Html.DropDownList("productoId", new SelectList(ViewBag.ListaProductos, "Id", "Nombre"), "Seleccionar", new { id = "producto" })
    <input type="date" name="fecha" id="fecha" />
    <p>Que deseas ver?</p>
    <label><input type="checkbox" id="suma" name="suma" value="si"> Promedio</label><br>
    <label><input type="checkbox" id="promedio" name="promedio" value="si"> Suma</label><br>
    <label><input type="checkbox" id="conteo" name="conteo" value="si"> Conteo</label><br>
    @ViewBag.promedio
    @ViewBag.sumatoria
    @ViewBag.Conteo
    <input type="submit" value="BUSCAR" />
</form>
@using (Html.BeginForm("printHistorial", "Procesos", FormMethod.Post, new { onsubmit = "obtenerDatos()" }))
{
    <input type="hidden" name="productoId" id="proveedorv" />
    <input type="hidden" name="fecha" id="fechav" />
    <input type="hidden" name="proveedorId" id="productov" />
    <input type="hidden" name="suma_" id="sumav" />
    <input type="hidden" name="promedio_" id="promediov" />
    <input type="hidden" name="conteo_" id="conteov" />
    <input type="submit" value="Generar reporte" />
}

<script>
    function guardar() {
        var productoid = document.getElementById("producto").value;
        var fecha = document.getElementById("fecha").value;
        var proveedorId = document.getElementById("proveedor").value;
        var suma_ = document.getElementById("suma").value;
        var promedio_ = document.getElementById("promedio").value;
        var conteo_ = document.getElementById("conteo").value;


        localStorage.setItem("productoid", productoid);
        localStorage.setItem("fecha", fecha);
        localStorage.setItem("proveedorId", proveedorId);
        localStorage.setItem("suma_", suma_);
        localStorage.setItem("promedio_", promedio_);
        localStorage.setItem("conteo_", conteo_);

    }
    function obtenerDatos() {
        var productoid = localStorage.getItem("productoid");
        var fecha = localStorage.getItem("fecha");
        var proveedorId = localStorage.getItem("proveedorId");
        var suma_ = localStorage.getItem("suma_");
        var promedio_ = localStorage.getItem("promedio_");
        var conteo_ = localStorage.getItem("conteo_");

        document.getElementById("proveedorv").value=productoid;
        document.getElementById("fechav").value=fecha;
        document.getElementById("productov").value=proveedorId;
        document.getElementById("sumav").value=suma_;
        document.getElementById("promediov").value=promedio_;
        document.getElementById("conteov").value=conteo_;
        localStorage.clear();
    }
</script>
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Proveedor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Producto</td>
                <td>@item.Cantidad</td>
                <td>@item.Proveedor</td>
            </tr>
        }
    </tbody>
</table>

