@model Sistema_Facturacion.Models.Facturacion
@{
    ViewBag.Title = "Recibo";
    Layout = null;
}
@Styles.Render("~/Content/css")
<h2>Recibo</h2>

<h6>Cliente: @ViewBag.cliente.Nombre</h6>
<h6>Email: @ViewBag.cliente.Email</h6>
<h6>Fecha: @Model.Fecha</h6>


<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Detalle)
        {
            <tr>
                <td>@item.NombreProducto </td>
                <td>@item.PrecioProduco</td>
                <td>@item.CantidadProducto</td>
                <td>@item.Total</td>
            </tr>
        }
    </tbody>
</table>