@model List<Sistema_Facturacion.Models.VistaFactura>
@{
    Layout = null;
}

@Styles.Render("~/Content/css")

<h1>Reporte factura</h1>

@if (ViewBag.suma != null)
{
    <p>La suma total es: @ViewBag.suma</p>
}
@if (ViewBag.promedio != null)
{
    <p>El total es: @ViewBag.promedio</p>
}
@if (ViewBag.conteo != null)
{
    <p>El conteo total es: @ViewBag.conteo</p>
}
@if (ViewBag.mayor != null)
{
    <p>El numero mayor es: @ViewBag.mayor</p>
}
@if (ViewBag.menor != null)
{
    <p>El numero menor es: @ViewBag.menor</p>
}
<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.Cliente</td>
                <td>@item.TotalPagado</td>
                <td>@Html.ActionLink("Detalle", "detalleFactura", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
